<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Redsnail</title>
<link rel="stylesheet" href="{{static('phosphor.min.css')}}">
<link rel="stylesheet" href="{{xstatic('font_awesome', 'css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{static('styles.css')}}">
<script type="text/javascript" src="{{xstatic('requirejs', 'require.min.js')}}"></script>
<script>
    require.config({
        paths: {
            jquery: "{{xstatic('jquery', 'jquery.min.js')}}",
            phosphor: "{{static('phosphor.min.js')}}",
            termjs: "{{xstatic('termjs', 'term.js')}}",
        },
        baseUrl: "/static",
    });
</script>
<script type="text/javascript" src="{{static('main.js')}}"></script>
</head>
<body data-ws-url-path="{{ws_url_path}}" data-term-url-path="{{term_url_path}}">
<!-- test size: 25x80 -->
<div style='position:absolute; left:-1000em'>
<pre id="dummy-screen" style="border: solid 5px white;" class="terminal">0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
<span id="dummy-screen-rows" style="">01234567890123456789012345678901234567890123456789012345678901234567890123456789</span>
</pre>
</div>

<div id="redsnail-container"></div>

</body>
