<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Redsnail</title>
<link rel="stylesheet" href="{{static('phosphor.min.css')}}">
<link rel="stylesheet" href="{{static('font-awesome/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{static('styles.css')}}">
<script type="text/javascript" src="{{static('jquery.min.js')}}"></script>
<script type="text/javascript" src="{{static('phosphor.min.js')}}"></script>
<script type="text/javascript" src="{{static('main.js')}}"></script>
</head>
<body data-ws-url-path="{{ws_url_path}}">
</body>
